*.pyc
*.swp
dev.db
*.swo
.DS_Store
.dotcloud/*
.settings/*
giftovus.app.log*
app/static/*
app/media/profiles/*
app/media/groups/*
app/media/gifts/*
app/media/crop/*
app/build/*
app/*.json
app/local_settings.py
app/local_production_testing.py
app/whoosh_index
env/
data.dump
quickfix.sh
testresults.txt
logs/*
backups/*
errors.log
*.orig
app/media/cache/*
app/media/gift_images/*
.project
.pydevproject
.idea
celerybeat.pid
celerybeat-schedule
dump.rdb

2015-02-24_giftovus_production_backup.sql

2015-02-24_giftovus_staging_backup.sql

2015-02-24-giftovus_local_backup.sql

2015-02-28_giftovus_production_after_migrate_backup.sql

*.sql
